[submodule "libscarv"]
	path = extern/libscarv
	url = https://github.com/scarv/libscarv.git
[submodule "extern/texmf"]
	path = extern/texmf
	url = https://github.com/scarv/texmf.git
[submodule "extern/riscv-opcodes"]
	path = extern/riscv-opcodes
	url = https://github.com/scarv/riscv-opcodes.git
[submodule "extern/wiki"]
	path = extern/wiki
	url = https://github.com/scarv/xcrypto.wiki.git
