[submodule "xcrypto-ref"]
	path = xcrypto-ref
	url = https://github.com/scarv/xcrypto-ref.git
[submodule "xcrypto-spec"]
	path = xcrypto-spec
	url = https://github.com/scarv/xcrypto-spec.git
[submodule "xcrypto-rtl"]
	path = xcrypto-rtl
	url = https://github.com/scarv/xcrypto-rtl.git
[submodule "libscarv"]
	path = libscarv
	url = https://github.com/scarv/libscarv.git
