*.vim
*.swp
*.swo
*.~
*.pyc

component.xml

xgui/
	
docs/*.aux
docs/*.bbl
docs/*.blg
docs/*.log
docs/*.toc
docs/*.pdf
docs/*.out
docs/*.bcf
docs/*.run.xml
docs/*.bak

docs/diagrams/*.eps
docs/diagrams/*.pdf

